---
// Itinerario.astro
---

<section
    class="relative w-full py-10 flex justify-center items-center"
    id="seccion-itinerario"
>
    <div class="itinerario-container opacity-0 scale-[1.3]">
        <img
            src="/imagenes/itinerario.webp"
            alt="Itinerario"
            class="w-full h-auto"
            width="1920"
            height="1080"
        />
    </div>
</section>

<script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    const initItinerario = () => {
        gsap.set(".itinerario-container", { opacity: 0, y: 50 });

        ScrollTrigger.create({
            trigger: "#seccion-itinerario",
            start: "top 80%",
            onEnter: () => {
                gsap.to(".itinerario-container", {
                    opacity: 1,
                    y: 0,
                    duration: 1.2,
                    ease: "power3.out",
                });
            },
            onLeaveBack: () => {
                gsap.to(".itinerario-container", {
                    opacity: 0,
                    y: 50,
                    duration: 0.6,
                    ease: "power2.in",
                });
            },
        });
    };

    if (document.readyState === "loading") {
        document.addEventListener("DOMContentLoaded", initItinerario);
    } else {
        initItinerario();
    }

    document.addEventListener("astro:page-load", initItinerario);
</script>
